/* 下載字體 Google 的思源黑體 (所有字重與粗細) */
/* 字體來源：https://fonts.google.com/noto/specimen/Noto+Sans+TC */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

/* 下載字體 Google 的思源宋體 (所有字重與粗細) */
/* 字體來源：https://fonts.google.com/noto/specimen/Noto+Serif+TC?noto.query=Traditional+Chinese */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');


/*.div_box1 {
    width:500px;
    height: 170px;
    text-align:center;
    font-family: 'Noto Sans TC', sans-serif;
}*/

.div_box {
    width:500px;
    height: 170px;
    text-align:center;
    font-family: 'Noto Serif TC', serif;
    /*設定框線供剪刀使用*/
    border-width: 5px;
    border-style: dashed; /* 設為虛線 */
    border-color: red; /* 設定邊框顏色 */

}

.div_imgbox {
    /* 將設定為flex 元件 */
    display: flex;
    align-items: center; /* 將物件置中 */
    justify-content: center; /* 容器縱軸置中 */
}