/* 下載字體 Google 的思源黑體 (所有字重與粗細) */
/* 字體來源：https://fonts.google.com/noto/specimen/Noto+Sans+TC */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

/* 下載字體 Google 的思源宋體 (所有字重與粗細) */
/* 字體來源：https://fonts.google.com/noto/specimen/Noto+Serif+TC?noto.query=Traditional+Chinese */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');


.div_box1 {
    width:500px;
    height: 170px;
    text-align:center;
    font-family: 'Noto Sans TC', sans-serif;
}

.div_box2 {
    width:500px;
    height: 170px;
    text-align:center;
    font-family: 'Noto Serif TC', serif;
    
}

.div_imgbox {
    position: sticky;
    top: 50%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
}